.page-header
    border-bottom-color #aa0708

#footer
    padding 0

    .footer-copyright
        margin-top 0

article.post

    .post-image
        text-align center

        img
            display initial

    .post-content
        font-size 16px

.thumb-info

    .thumb-info-title
        font-size 30px
        padding 20px
        line-height 120%

#modal-popup

    .modal-dialog

        .modal-body
            font-size 16px
            text-align justify

            p
                line-height 150%